.stock {
  /* inline block make the div adjust to content */

  border: 0.2px solid #3e3e40;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.stock:hover {
  background-color: #7864b9;
  color: white;
}

.stock:hover a {
  color: white;
}

.stock-code {
  font-weight: 600;
  font-size: 1.1em;
}

.stock-description {
  font-weight: 300;
  font-size: 0.9em;
}

.fa-times {
  cursor: pointer;
}

.fa-times:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .cardWidth {
    width: 100%;
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardWidth {
    width: 100%;
    margin: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cardWidth {
    width: 45%;
    margin: 17px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cardWidth {
    width: 30%;
    margin: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .cardWidth {
    width: 45%;
    margin: 22px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cardWidth {
    width: 30%;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
